#cookieconsent-accordion {
  margin: auto; }
  #cookieconsent-accordion input[type='checkbox'] {
    margin-right: 15px; }
  #cookieconsent-accordion .panel-collapse {
    overflow: hidden; }
  #cookieconsent-accordion .panel.panel-default,
  #cookieconsent-accordion .panel-body,
  #cookieconsent-accordion .panel-heading {
    background: none;
    border: none;
    box-shadow: none; }
  #cookieconsent-accordion .panel-heading {
    padding: 10px 15px; }
  #cookieconsent-accordion .panel-title > a {
    display: block;
    outline: 0; }
  #cookieconsent-accordion label {
    text-indent: -29px;
    margin-left: 29px;
    margin-right: 10px; }
    #cookieconsent-accordion label:hover {
      text-decoration: underline;
      cursor: pointer; }
  #cookieconsent-accordion ul.list-unstyled {
    margin-bottom: 0;
    padding: 0 15px; }

#cookieconsent-open-popup {
  position: fixed;
  display: block;
  width: 46px;
  height: 46px;
  text-align: center;
  padding-top: 10px;
  left: 30px;
  bottom: 80px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%; }
  #cookieconsent-open-popup.fa-shield-alt {
    padding-top: 8px; }
  #cookieconsent-open-popup.show {
    opacity: 0.5;
    visibility: visible;
    transition: opacity 0.3s; }
    #cookieconsent-open-popup.show:hover {
      opacity: 1; }
